@import "styles/reset.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* Color Palette */
  --light-pink: #f9d3ff;
  --light-purple: #8483c4;
  --dark-purple: #6564a7;
  --yellow: #ffeca9;
  --green: #b4f8c2;
  --grey: grey;

  --white: #ffffff;
  --black: #000000;

  /* Application of color palette in application (Colors will be swapped often) */
  --first-background: var(--light-purple);
  --second-background: var(--light-pink);

  --border: var(--dark-purple);
}

html {
  padding: 0em 2em;
  background-color: var(--border);
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
}

main {
  background-image: linear-gradient(
    180deg,
    var(--first-background),
    var(--second-background)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  border-radius: 1em;
  flex-grow: 1;
  flex-wrap: wrap;
  border-radius: 1em;
}

main + * {
  color: var(--color-one);
}

@media screen and (max-width: 600px) {
  html {
    padding: 0em 1em;
  }
}
